In [1]:
import pandas as pd
import numpy as np

data  = pd.read_csv('aapl_1s_data.csv')

In [3]:
print(data)

                             Local time     Open     High      Low    Close  \
0      22.01.2024 08:30:00.000 GMT-0600  192.257  192.337  192.257  192.337
1      22.01.2024 08:30:01.000 GMT-0600  192.346  192.477  192.346  192.456
2      22.01.2024 08:30:02.000 GMT-0600  192.436  192.436  192.346  192.346
3      22.01.2024 08:30:03.000 GMT-0600  192.336  192.367  192.257  192.267
4      22.01.2024 08:30:04.000 GMT-0600  192.317  192.386  192.317  192.386
...                                 ...      ...      ...      ...      ...
16838  22.01.2024 14:59:55.000 GMT-0600  193.836  193.847  193.836  193.837
16839  22.01.2024 14:59:56.000 GMT-0600  193.847  193.847  193.837  193.837
16840  22.01.2024 14:59:57.000 GMT-0600  193.847  193.867  193.847  193.867
16841  22.01.2024 14:59:58.000 GMT-0600  193.856  193.877  193.856  193.876
16842  22.01.2024 14:59:59.000 GMT-0600  193.877  193.887  193.857  193.857

       Volume
0       0.096
1       0.120
2       0.144
3       0.108
4       0.120
...       ...
16838   0.060
16839   0.036
16840   0.096
16841   0.132
16842   0.120

[16843 rows x 6 columns]

In [7]:
data['Returns'] = np.log(data['Close'] / data['Close'].shift(1))
cov_log_returns = data['Returns'].cov(data['Returns'].shift(1))
spread_roll_log = 2 * np.sqrt(-cov_log_returns)
spread_roll_log

2.022311212655335e-05

In [15]:
data

,Local time,Open,High,Low,Close,Volume,Log_Return,Returns
0,22.01.2024 08:30:00.000 GMT-0600,192.257,192.337,192.257,192.337,0.096,NaN,NaN
1,22.01.2024 08:30:01.000 GMT-0600,192.346,192.477,192.346,192.456,0.120,0.000619,0.000619
2,22.01.2024 08:30:02.000 GMT-0600,192.436,192.436,192.346,192.346,0.144,-0.000572,-0.000572
3,22.01.2024 08:30:03.000 GMT-0600,192.336,192.367,192.257,192.267,0.108,-0.000411,-0.000411
4,22.01.2024 08:30:04.000 GMT-0600,192.317,192.386,192.317,192.386,0.120,0.000619,0.000619
...,...,...,...,...,...,...,...,...
16838,22.01.2024 14:59:55.000 GMT-0600,193.836,193.847,193.836,193.837,0.060,0.000057,0.000057
16839,22.01.2024 14:59:56.000 GMT-0600,193.847,193.847,193.837,193.837,0.036,0.000000,0.000000
16840,22.01.2024 14:59:57.000 GMT-0600,193.847,193.867,193.847,193.867,0.096,0.000155,0.000155
16841,22.01.2024 14:59:58.000 GMT-0600,193.856,193.877,193.856,193.876,0.132,0.000046,0.000046
16842,22.01.2024 14:59:59.000 GMT-0600,193.877,193.887,193.857,193.857,0.120,-0.000098,-0.000098

In [17]:
data['Returns'] = data['Close'] / data['Close'].shift(1) -1
cov_returns = data['Returns'].cov(data['Returns'].shift(1))
spread_roll = 2 * np.sqrt(-cov_returns)
spread_roll

2.0222992723667746e-05

In [22]:
spread_roll_values = []
data['Returns'] = data['Close'] / data['Close'].shift(1) -1
for i in range(1, len(data) - 1):
    cov_returns_iter = data['Returns'].iloc[i:i+2].cov(data['Returns'].shift(1).iloc[i:i+2])
    spread_iter = 2 * np.sqrt(-cov_returns_iter) if cov_returns_iter < 0 else 0
    spread_roll_values.append(spread_iter)

pd.Series(spread_roll_values)

0        0.000000e+00
1        6.187785e-04
2        0.000000e+00
3        1.300776e-03
4        7.038817e-04
             ...
16836    1.656985e-07
16837    2.419286e-05
16838    1.325402e-04
16839    1.831315e-04
16840    0.000000e+00
Length: 16841, dtype: float64

In [23]:
pd.Series(spread_roll_values).mean()

7.192850846896228e-05

In [12]:
data_tick = pd.read_csv('aapl_tick_ba.csv')
data_tick

,Local time,Ask,Bid,AskVolume,BidVolume
0,22.01.2024 08:30:00.227 GMT-0600,192.303,192.257,0.012,0.012
1,22.01.2024 08:30:00.332 GMT-0600,192.463,192.277,0.012,0.012
2,22.01.2024 08:30:00.483 GMT-0600,192.343,192.277,0.012,0.012
3,22.01.2024 08:30:00.584 GMT-0600,192.344,192.306,0.012,0.012
4,22.01.2024 08:30:00.744 GMT-0600,192.333,192.297,0.012,0.012
...,...,...,...,...,...
55973,22.01.2024 14:59:59.634 GMT-0600,193.904,193.886,0.012,0.012
55974,22.01.2024 14:59:59.736 GMT-0600,193.893,193.877,0.012,0.012
55975,22.01.2024 14:59:59.787 GMT-0600,193.893,193.867,0.012,0.012
55976,22.01.2024 14:59:59.938 GMT-0600,193.883,193.867,0.012,0.012
55977,22.01.2024 14:59:59.988 GMT-0600,193.893,193.857,0.012,0.012

In [13]:
data_tick["Close"] = (data_tick["Ask"] +  data_tick["Bid"] )
data_tick['Returns'] = data_tick['Close'] / data_tick['Close'].shift(1)
cov_returns = data_tick['Returns'].cov(data_tick['Returns'].shift(1))
spread_roll_tick = 2 * np.sqrt(-cov_returns)
spread_roll_tick

2.6862950882620352e-05